iframe {
    filter: grayscale(100%) contrast(1.1);
    transition: 1s filter linear; 
}

iframe:hover {
    filter: grayscale(0%) contrast(1);
    transition: 1s filter linear; 
}

*::selection {
    background-color: #808080;
    color: white;
}

body {
    background: #ffffff;
    margin: 0;
}
h1 {
    color: #808080;
    font-family: 'Arial';
    font-size: 32px;
    letter-spacing: .05em;
    line-height: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}
h2 {
    color: #808080;
    font-family: 'Arial';
    font-size: 20px;
    letter-spacing: .05em;
    line-height: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}
p {
    color: #808080;
    font-family: 'Arial';
    font-size: 12px;
    letter-spacing: .11em;
    line-height: 1.5em;
    font-weight: normal;
}
small, label, img, noscript {
    color: #bbbbbb;
    font-family: 'Arial';
    font-size: 10px;
    letter-spacing: .05em;
    line-height: 1.25em;
    font-weight: bold;
    text-transform: uppercase;
}
br {
    line-height: 24px;
}
hr {
    border: 9px solid black;
    background-color: black;
}
a {
    text-decoration: none;
}
a:link {
    color: #80d000
}
a:hover {
    background-color: black;
    color: white !important;
}
a:visited {
    color: black
    
}
a:active {
    color: #c5f17e !important;
}


.front-page-index {
    list-style: none !important;
    color: #bbbbbb;
    font-family: 'Arial';
    font-size: 13px;
    letter-spacing: .05em;
    line-height: 1.25em;
    font-weight: bold;
    text-transform: uppercase;
}

.full-page-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.full-page-2 {
    max-width:100%;
    width: 1000px;
}

.card-center-2 {
    display: flex;
    flex-direction: column;
    border: solid 18px #000000;
    align-items: left;
    margin: auto;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}
/* MAGIA, LOOK INTO THIS */
.logo {
    max-width: 152px;
    max-height: 36px;
    height: 100%;
    width: 100%;
    padding-top: 3px;
    padding-left: 1px;
}

.rsvp {
    max-width: 86px;
    max-height: 30px;
    height: 100%;
    width: 100%;
    padding-top: 3px;
    padding-left: 1px;
}

footer {
    text-align: center;
    padding-bottom: 10px;
}
.copy-left { 
    display: inline-block; 
    text-align: right; 
    margin: -1px; 
    -moz-transform: scaleX(-1); 
    -o-transform: scaleX(-1); 
    -webkit-transform: scaleX(-1); 
    transform: scaleX(-1); 
    filter: FlipH; 
    -ms-filter: “FlipH”;
    font-size: 12px;
    letter-spacing: .10em;

}

.tab-contents-handler-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.landscape-handler { 
    display: inline-block; 
    position: relative; 
    width: 250px; 
    height: 250px; 
    overflow: hidden; 
    border-radius: 50%; 
    filter:contrast(0.9) brightness(1.2) saturate(1);
}
@keyframes spin {
    0%    { rotate: 0deg; }
    100%  { rotate: 360deg; }
}
  
.loader {
    transform-origin: 28px 28px;
    animation: spin linear 1s infinite;
}


